.Rproj.user
.Rhistory
.RData
.Ruserdata
Bootcamp-DIO/

Estudo-java/citiies-api.zip
Estudo_de_Python/Exercicios-em-python/.vscode/settings.json
Documentos/Learning_repository/Estudo-selenium-webdriver/aulasyoutuber
