
:root{ /*Declarando uma variável geral dentro do CSS é possível se for usar uma cor padrão sem precisar repeti-la sempre*/
    --vermelho: #E50914;
    --preta: #141414;
}

*{ /*Definindo padrão para o site a marem e preenchimento, é improtante pois pode ocorrer de dar errado em navegadores diferentes */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Definindo o limite d borda da caixa. */
}

/*Toda vez que for referenciar uma TAG HTML insira o nome dela, se for referenciar uma classe inicie a mesma com . seguido do nome da classe */
/* Instruções abaixo se relacionam aos elementos base */

body{
    background: var(--preta); /*Definindo a cor de fundo da página */
    font-family: Helvetica, Arial sans-serif; /*Definindo a fonte de família da página */
    color: white;

}

header .container{ /* Alinahndo os elementos em tela */
    display: flex; /* o Flex sempre irá jogar em linha */
    flex-direction: row;
    align-items: center; /*Alinhando os elementos ao centro */
    justify-content: space-between; /*Alinhando os elementos na horizontal com espaços entre a primeira TAG h2e a segunda TAG nav a */
}

header .logo{ /*Definindo valores de cor, fonte e tamanho do logo */
    margin-left:5px; /* Definindo o espaço entre o logo e amargem da página*/
    color: var(--vermelho);
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size:40px;
}

header nav a{ /*Definindo valores para os menus navegáveis */
    text-decoration: none; /*removendo o padrão dos textos */
    color: #AAA; /* Definindo a cor dos menus */
    margin-right: 10px; /*Definindo o espaçamento entre os menus */

}

header nav a:hover{ /* Definindo que toda vez que o mouse passar pelos menus irá alterar a cor */
    color: #fff;
}

/*Filme principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capa_principal.jpg);
 
    height: 900px; /*O especialista inseriu 400px, mas para mim funciona com 900px */
    background-size: cover;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10%; /* Pode ser em px ou porcentagem, o certo é % */
    font-size: 25px; /*Inseir o tamanho da fonte em descrição para encher mais os espaços */
    margin-bottom: 40px;
}


.titulo{
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    
    padding: 15px 30px;
    margin-right:15px;
    font-size: 12px;

    cursor: pointer; /* ao passar pelo botão irá aparecer um ponteiro */
    transition: .3s ease all; /*Ao passar entre um botao e outro irá  ocorrer um tempo de transição */
}


.botao:hover{ /*Força no elemento a mudança de fundo para acentuar o botão */
    background-color: white;
    color: black;
}

.botao i{ /* inserindo o espaçamento dentro dos incones*/
    color: #7FFFD4; /* por default vem branco, inseri uma cor */
    margin-right: 10px;
}


.container{ /* Entendendo de container ou wrapper*/
    margin-left: 20px;
    margin-right: 15px;
}


.filme-principal .container{
    width: 80%;
}

/* Aprendendo jquery para incluir um carrosel*/
/* Definindo o tamanho das imagens */

 .box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

/* Animando as imagens do carrosel = sem muito sucesso*/

.carrosel-filmes {
    display: flex;
    margin-top: 50px;
  }
  
  .item {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
  }
  
  .carrosel-filmes:focus-within .item,
  .carrosel-filmes:hover .item {
    transform: translateX(-25%);
  }
  
  .item:focus ~ .item,
  .item:hover ~ .item {
    transform: translateX(25%);
  }
  
  .carrosel-filmes .item:focus,
  .carrosel-filmes .item:hover {
    transform: scale(1.5);
    z-index: 1;
  }
  
  body {
    overflow: hidden;
  }
  
  .item img {
    display: block;
    max-width: 100%;
  }
  
  .item:hover ~ .item {
    transform: translateX(25%);
  }
  